body{
    background: url("Bilder/feder.jpg") fixed;
    background-size: cover;
    
}

.header {
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
    
    font-style: italic;
    font-size: xx-large;
    text-align:left ;
    
}

.info {
    text-align: right;
    
}

.nav-item {color:aliceblue}

.navbar{
    font-weight: 700;
    font-style: italic;
}

.anschreiben {
    border-radius: 15px;
    
    font-family: 'Source Serif Pro', serif;
    
    text-align: center;
   
    margin: 5% 10% 10% 10%;
}